<ion-header>
  <ion-toolbar>
    <ion-title>OnlineRoom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logos">
      <div class="title ion-text-center">
        <img src="assets/images/logo.png"/>
      </div>
  </div>
  <div class="info">   
    <ion-item fill="outline">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input placeholder="ejemplo123"></ion-input>
    </ion-item>
    <ion-item fill="outline">
      <ion-label position="floating" type="password">Contraseña</ion-label>
      <ion-input placeholder="Ej.12345"></ion-input>
    </ion-item>
  </div> 
<br>
  <div class="botones">
      <ion-button routerLink="/menu" color="primary">Ingresar</ion-button>
      <br>
      <ion-button routerLink="/register" color="success">Registrarse</ion-button>
  </div>
</ion-content>
